.app-container{
    height: 100vh;
}

.admin-container{
    min-height: 100vh;
    background-color: #2b2b2b;
}

.admin-content{
    width: 100%;
    height: 100%;
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
}

.admin-title {
    color: #fff;
    font-size: 32px;
    font-weight: bold;
}

.admin-btn-disabled {    
    cursor: pointer;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 5px 5px;
    background-color: rgb(26, 84, 155);
    text-align: center;
    color: rgb(202, 202, 202);
    border-radius: 2px;
    font-size: 18px;
}

.admin-btn {
    cursor: pointer;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 5px 5px;
    background-color: rgb(17, 106, 215);
    text-align: center;
    color: #fff;
    border-radius: 2px;
    font-size: 18px;   
}

.section-container {
    cursor: pointer;
    padding-bottom: 8px;
    border-bottom: 1px solid white;
    margin-bottom: 20px;
}

.section-content {
    padding: 10px 10px;
}