.gallery-container{
    background-color: #e5e5e5;
    z-index: -1;
}

.slide{
    max-height: 100vh;
    z-index: -1;

}

.img {
    object-fit: cover;
    z-index: -1;
    width: 100%;
    height: 100%;
}